/*	Container for the information and sticker sheet of a sticker pack. */
.container {
  display: flex;
}
.container .info {
  max-width: 85%;
}

/*	For the sticker sheet on the side */
.sheet {
  width: 15%;
  margin-left: auto;
}

/*	For the actual display grid of sticker entries */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  padding: 5px;
  margin-bottom: 50px;
  background-color: rgba(50, 50, 50, 0.4);
  border: 5px solid var(--ri-header);
  border-radius: 5px;
}

/*	Container for a sticker and its caption */
.entry {
  background-color: rgba(50, 50, 50, 0.4);
}
.entry img {
  width: 100%;
}

/*	Caption under a sticker for translation */
.caption {
  color: white;
  padding: 5px;
  font-size: medium;
  text-align: center;
}