/*
 *	CUSTOM FONTS
 *
 *	Doesn't seem to work with absolute paths. Stick to relative paths.
*/
/* Nat Voice: Friday October Twelve 
 *   Also for the top navigation bar */
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelve.woff2") format("woff2");
}
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelveItalic.woff2") format("woff2");
  font-style: italic;
}
/* 	Xue Voice: Dehasta */
@font-face {
  font-family: Dehasta;
  src: url("../../public/fonts/Dehasta.woff2") format("woff2");
}
@font-face {
  font-family: Dehasta;
  src: url("../../public/fonts/DehastaItalic.woff2") format("woff2");
  font-style: italic;
}
/* SaltyCheese
 *   For headers */
@font-face {
  font-family: SaltyCheese;
  src: url("../../public/fonts/SaltyCheese.woff2") format("woff2");
}
/* Handlee
 *   For headers */
@font-face {
  font-family: Handlee;
  src: url("../../public/fonts/Handlee.woff2") format("woff2");
}
/* Arinda
 *   For TBD */
@font-face {
  font-family: Arinda;
  src: url("../../public/fonts/Arinda.woff2") format("woff2");
}
/* Edwardian Script
 *   For TBD */
@font-face {
  font-family: EdwardianScript;
  src: url("../../public/fonts/EdwardianScriptITC.woff2") format("woff2");
}
/* Great Vibes
 *   For TBD */
@font-face {
  font-family: GreatVibes;
  src: url("../../public/fonts/GreatVibes-Regular.woff2") format("woff2");
}
/* Matilda 
 *   For text in Main container */
@font-face {
  font-family: Mattilda;
  src: url("../../public/fonts/Mattilda.woff2") format("woff2");
}
@font-face {
  font-family: Mattilda;
  src: url("../../public/fonts/MattildaItalic.woff2") format("woff2");
  font-style: italic;
}
/* Sweet Iced Coffee
 *   For Furina text */
@font-face {
  font-family: SweetIcedCoffee;
  src: url("../../public/fonts/SweetIcedCoffee.woff2") format("woff2");
}
/* Roboto Condensed 
 *   For Arknights */
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: lighter;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2") format("woff2");
  font-weight: lighter;
  font-style: italic;
}
/* DIN
 *  For Star Rail */
@font-face {
  font-family: DIN;
  src: url("../../public/fonts/DIN/DIN.woff2") format("woff2");
}
@font-face {
  font-family: DIN;
  src: url("../../public/fonts/DIN/DINBold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: DIN;
  src: url("../../public/fonts/DIN/DIN-Medium.woff2") format("woff2");
  font-size: medium;
}
/* I forgot what I wanted these for but I want them around In Case */
/* BalsamiqSans */
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Comic Nue */
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Light.woff2") format("woff2");
  font-weight: lighter;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-LightItalic.woff2") format("woff2");
  font-weight: lighter;
  font-style: italic;
}
.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  border: solid 2px var(--ae-gold2);
  padding: 5px;
}

.set {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.set button {
  min-width: 130px;
  max-width: 130px;
  min-height: 130px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  border: var(--ae-gold2) 4px solid;
  background-color: var(--ae-red1);
  color: var(--ae-gold3);
  font-family: DIN, "DIN", sans-serif;
}
.set button:hover {
  background-color: var(--ae-blue2);
  color: var(--ae-gold3);
}
.set button:active {
  background-color: var(--ae-red3);
  color: var(--ae-gold3);
}
.set button img {
  max-width: 50px;
}
.set p {
  width: 200px;
}

.charGroups {
  display: flex;
  flex-direction: column;
}

.charGroup {
  position: relative;
}
.charGroup > p {
  display: flex;
  align-items: center;
}
.charGroup > p:before, .charGroup > p:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid;
  text-align: left;
}
.charGroup > p:before {
  margin: 0 0.25em 0 0;
  width: 2%;
}
.charGroup > p:after {
  margin: 0 0 0 0.25em;
  flex-grow: 1;
}

.chars {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 15px;
}

.character {
  display: grid;
  grid-template-areas: "icon mainstats" "substats substats";
  gap: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 33%;
  overflow: hidden;
}
.character img {
  width: 70px;
  border-radius: 35px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: icon;
  text-align: center;
}

.mainstats {
  grid-area: mainstats;
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 3px;
       column-gap: 3px;
  font-size: small;
  align-items: center;
}
.mainstats img {
  width: 25px;
  height: auto;
}

.substatsContainer {
  display: flex;
  grid-area: substats;
  flex-wrap: wrap;
  gap: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
.substatsContainer span {
  height: -moz-fit-content;
  height: fit-content;
  font-size: medium;
  background-color: var(--ae-gold2);
  color: #000000;
  border-radius: 10px;
  padding: 3px;
}

.portraits {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
}
.portraits img {
  max-width: 60px;
}