/*
 *	CUSTOM FONTS
 *
 *	Doesn't seem to work with absolute paths. Stick to relative paths.
*/
/* Nat Voice: Friday October Twelve 
 *   Also for the top navigation bar */
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelve.woff2") format("woff2");
}
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelveItalic.woff2") format("woff2");
  font-style: italic;
}
/* 	Xue Voice: Dehasta */
@font-face {
  font-family: Dehasta;
  src: url("../../public/fonts/Dehasta.woff2") format("woff2");
}
@font-face {
  font-family: Dehasta;
  src: url("../../public/fonts/DehastaItalic.woff2") format("woff2");
  font-style: italic;
}
/* SaltyCheese
 *   For headers */
@font-face {
  font-family: SaltyCheese;
  src: url("../../public/fonts/SaltyCheese.woff2") format("woff2");
}
/* Handlee
 *   For headers */
@font-face {
  font-family: Handlee;
  src: url("../../public/fonts/Handlee.woff2") format("woff2");
}
/* Arinda
 *   For TBD */
@font-face {
  font-family: Arinda;
  src: url("../../public/fonts/Arinda.woff2") format("woff2");
}
/* Edwardian Script
 *   For TBD */
@font-face {
  font-family: EdwardianScript;
  src: url("../../public/fonts/EdwardianScriptITC.woff2") format("woff2");
}
/* Great Vibes
 *   For TBD */
@font-face {
  font-family: GreatVibes;
  src: url("../../public/fonts/GreatVibes-Regular.woff2") format("woff2");
}
/* Matilda 
 *   For text in Main container */
@font-face {
  font-family: Mattilda;
  src: url("../../public/fonts/Mattilda.woff2") format("woff2");
}
@font-face {
  font-family: Mattilda;
  src: url("../../public/fonts/MattildaItalic.woff2") format("woff2");
  font-style: italic;
}
/* Sweet Iced Coffee
 *   For Furina text */
@font-face {
  font-family: SweetIcedCoffee;
  src: url("../../public/fonts/SweetIcedCoffee.woff2") format("woff2");
}
/* Roboto Condensed 
 *   For Arknights */
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: lighter;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../public/fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2") format("woff2");
  font-weight: lighter;
  font-style: italic;
}
/* DIN
 *  For Star Rail */
@font-face {
  font-family: DIN;
  src: url("../../public/fonts/DIN/DIN.woff2") format("woff2");
}
@font-face {
  font-family: DIN;
  src: url("../../public/fonts/DIN/DINBold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: DIN;
  src: url("../../public/fonts/DIN/DIN-Medium.woff2") format("woff2");
  font-size: medium;
}
/* I forgot what I wanted these for but I want them around In Case */
/* BalsamiqSans */
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: BalsamiqSans;
  src: url("../../public/fonts/Balsamiq/BalsamiqSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Comic Nue */
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-Light.woff2") format("woff2");
  font-weight: lighter;
}
@font-face {
  font-family: "Comic Nue";
  src: url("../../public/fonts/ComicNue/ComicNeue-LightItalic.woff2") format("woff2");
  font-weight: lighter;
  font-style: italic;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
}
.container .pagebutton {
  cursor: pointer;
  margin: 8px;
  min-width: 30px;
  padding: 10px 18px;
}

.prev, .next {
  margin: 8px;
  padding: 15px 5px 5px 5px;
}

/* Theming 
	Applies to .container */
/* Rhodes Island */
.ri .pagebutton {
  background-color: var(--ri-gray5);
  color: var(--ri-sd) !important;
  font-weight: bold;
  font-family: "RobotoCondensed", RobotoCondensed, sans-serif;
  font-size: larger;
}
.ri .pagebutton:hover {
  color: var(--ri-yellow1) !important;
}
.ri .pagebutton:active {
  color: var(--ri-orange1) !important;
}
.ri .selected a {
  background-color: var(--ri-blue6);
  color: var(--ri-sd);
}
.ri .selected a:hover {
  background-color: var(--ri-blue5);
  color: var(--ri-yellow1);
}
.ri .selected a:active {
  background-color: var(--ri-blue5);
  color: var(--ri-orange1);
}
.ri .prev, .ri .next {
  background-color: var(--ri-gray5);
}
.ri .prev svg, .ri .next svg {
  stroke: var(--ri-sd);
}
.ri .prev svg:hover, .ri .next svg:hover {
  stroke: var(--ri-yellow1);
}
.ri .prev svg:active, .ri .next svg:active {
  stroke: var(--ri-orange1);
}
.ri .disabledarrow a {
  background-color: var(--ri-gray2);
}
.ri .disabledarrow a svg {
  stroke: var(--ri-white1);
}
.ri .disabledarrow a:hover svg, .ri .disabledarrow a:active svg {
  stroke: var(--ri-white1);
}