/* Container that holds the entire details list section */
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

	details {
		display: block;
		width: 80%;
		padding: 0 12px;
		margin: 10px;

		hr{
			margin: 0 auto;
		}
	}


	h1,h2,h3,h4,h5,h6 {
		margin: 0 auto;
	}
}

/* Container that holds content within each summary element
 *		summaryContainer is used so that the arrow on the side doesn't get messed up
 */
.summaryContainer {
	display: inline-flex;
	align-items: center;
	padding-left: 10px;

	$vertical-padding: 10px;
	padding-top: $vertical-padding;
	padding-bottom: $vertical-padding;

	img {
		max-width: 70px;
		margin-left: 15px;
	}
}

/* Container that holds content under the dropdown in each details element
 * 		textContainer is used to distinguish the main content of each 
 *		details element from the hr
 */
.textContainer {
	padding: 10px;
	padding-bottom: 15px;
	white-space: pre-wrap;

	img {
		width: 100%;
	}
}



/* Theming 
 *	Applied alongside .container
*/

/* Rhodes Island */
.ri {
	
	details{
		background-color: white;

		summary::marker {
			color: var(--ri-blue2);
		}

		&[open] {
			summary::marker {
				color: var(--ri-blue1);
			}
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: 'RobotoCondensed',RobotoCondensed,sans-serif;
		color: var(--ri-gray5);
	}
	
	hr {
		border: 2px solid;
	}

	.summaryContainer img {
		background-color: var(--ri-gray6);
		border-radius: 40px;
	}
}

/* Mondstadt */
.mond {

	details {
		background-color: rgba($color: white, $alpha: 0.4);
		border-radius: 15px;

		summary::marker {
			color: var(--mon-green3);
		}
		
		&[open] {
			summary::marker {
				color: var(--mon-green6);
			}
		}
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-family: BalsamiqSans,sans-serif;
		font-weight: 500;
		color: var(--ri-gray5);
	}

	hr {
		border: none;
			border-top: var(--mon-green3) dotted 3px;
			color: var(--mon-green4);
			overflow: visible;
			text-align: center;
			height: 5px;
			&:after {
				background: transparent;
				color: white;
				content: '❉';
				padding: 0 4px;
				position: relative;
				top: -16px;
				border-radius: 20px
			}
	}

	.summaryContainer img {
		background-color: var(--mon-blue5);
		border: 3px solid var(--mon-green3);
		border-radius: 40px;
	}
}