.chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.row {
	width: 98%;
	display: grid;
	grid-template-columns: auto 1fr;


	border: solid 2px var(--ae-gold2);
	padding: 5px;
}

.set {
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		// Dimension and Shape
		min-width: 130px;
		max-width: 130px;
		min-height: 130px;
		border-radius: 25px;

		// Content Structure
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-wrap: wrap;
		

		img {
			max-width: 50px;
		}
	}

	p {
		width: 250px;
	}
}

.chars{
	display: flex;
	flex-wrap: wrap;
	// flex-direction: row;
}

.character {
	display: grid;
	grid-template-areas: 'icon mainstats''substats substats';

	background-color: rgba($color: #000000, $alpha: 0.3);
	padding: 5px;
	width: 33%;
	overflow: hidden;

	img {
		max-width: 70px;
		border-radius: 40px;
	}
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: icon;
}

.mainstats {
	grid-area: mainstats;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 3px;
	font-size: small;
	align-items: center;

	img {
		width: 25px;
	}
}

.substatsContainer {
	display: flex;
	grid-area: substats;
	flex-wrap: wrap;
	gap: 5px;

	span {
		height: fit-content;
		font-size: large;
		background-color: red;
		border-radius: 10px;
		padding: 3px;
	}
}

