@use "../components/color-mixins" as *;
@use "../components/fonts";

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;

	list-style-type: none;

	.pagebutton {
		cursor: pointer;
		margin: 8px;
		min-width: 30px;
		padding: 10px 18px;
	}
}

.prev, .next {
	margin: 8px;
	padding: 15px 5px 5px 5px;
}

/* Theming 
	Applies to .container */

/* Rhodes Island */
.ri {

	.pagebutton {
		// actually the a element, li element is untouched
		background-color: var(--ri-button);
		color: var(--ri-btn-txt)!important;
		&:hover {
			color: var(--ri-btn-txt-h)!important;
		}
		&:active{
			color: var(--ri-btn-txt-a)!important;
		}

		// not used above bc !important needed for intended design
		// @include btn-colors(var(--ri-button),var(--ri-btn-txt),
		// 	var(--ri-button),var(--ri-btn-txt-h),
		// 	var(--ri-button),var(--ri-btn-txt-a));
		
		font-weight: bold;
		font-family: 'RobotoCondensed',RobotoCondensed,sans-serif;
		font-size: larger;
	}

	.selected a {
		@include btn-colors(var(--ri-blue6),var(--ri-btn-txt),
				var(--ri-blue5),var(--ri-btn-txt-h),
				var(--ri-blue5),var(--ri-btn-txt-a));
	}

	.prev, .next {
		background-color: var(--ri-button);
	}

	.prev svg, .next svg {
		stroke: var(--ri-btn-txt);

		&:hover { 
			stroke: var(--ri-btn-txt-h);
		}
		&:active {
			stroke: var(--ri-btn-txt-a);
		}
	}

	.disabledarrow a {
		background-color: var(--ri-gray2);
		svg {
			stroke: var(--ri-white1);
		}
		&:hover svg, &:active svg {
			stroke: var(--ri-white1);
		}
	}
}